<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meadowlark Travel</title>
</head>
<body>
	<header>
		<img src="/img/fair.jpeg" alt="公平" width="400">
		<nav style="float: right;">
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/about">about</a></li>
			</ul>
		</nav>
	</header>
	{{{body}}}
</body>
</html>